// Button Styles
.btn {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 1rem;
    padding: 0 24px;

    i {
        font-size: 1.25rem;
    }

    &-lg {
        height: 56px;
        font-size: 1.25rem;
        padding: 0 32px;

        i {
            font-size: 1.5rem;
        }
    }
}