.info-item {
    display: flex;
    align-items: center;

    &__icon {
        width: 48px;
        height: 48px;
        background-color: var(--gray-20);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin: 0;
        margin-inline-start: 24px;
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 500;
    }

    @media (max-width: 400px) {
        flex-wrap: wrap;
        margin-bottom: 24px;
        
        &__text {
            margin-block-start: 8px;
            margin-inline-start: 0;
        }
    }
}