// pagination
.pagination {
    & .page-link {
        border-radius: 50%;
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 50%;
    }
    
    .page-item {

        .page-link {
            border: none;
        }

        &.active > .page-link {
            background-color: var(--primary-2);  
        }

        &.disabled {
            opacity: .1;
        }
        
        &:not(:last-child) {
            margin-inline-end: 16px;
    
        }
    }
    

}