// product-item
.product-item {
    $root: &;
    position: relative;
    transition: all 200ms ease-in-out;
    height: 260px;
    min-width: 260px;
    
    &__info {
        position: absolute;
        bottom: 0;
        z-index: 3;
        margin-inline-start: 24px;
        margin-block-end: 24px;
        pointer-events: none;
    }

    &__img {
        @include product-img-styles;
    }

    &__name {
        margin: 0;
        margin-block-start: 16px;
        font-size: 18px;
        color: #2E3890;
        font-weight: 500;
    }

    &__category {
        border-radius: 8px;
        font-size: 0.875rem;
        background-color: white;
        color: #1393AB;
        padding: 8px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(0.95);

        #{$root}__img {
            &:hover::before {
                background: var(--primary-2);
                opacity: 0.8;
            }
    
            &:hover::after {
                box-shadow: none;
                background: transparent;
            }
        }

        #{$root}__name {
            color: white;
            font-weight: bold;
        }
    }
}


// swiper
.swiper-container {
    width: 600px;
    height: 300px;
}
