// product-img styles
@mixin product-img-styles {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    
    &::before {
        background: rgba(42, 174, 197, 0.08);
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-block;
        box-shadow:inset 0px 0px 0px 8px rgba(46, 56, 144, 0.05);
        border-radius: 16px;
        background: linear-gradient(to top, white, transparent 75%);
        top: 0;
        left: 0;
        z-index: 1;
    }

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        /* z-index: -222; */
    }
    
} 