:root {
    --gray-10: #FBFCFF;
    --gray-20: #F6F8F9;
    --gray-30: #78798D;
    --gray-40: #414254;
    --gray-50: #13131B;
    --primary: #2E3890;
    --primary-2: #2AADC5;
    --border-color: rgba(120, 121, 141, 0.25);

    --md-shadow: 0 4px 8px rgba(120, 121, 141, 0.25);
    --lg-shadow: 0 8px 16px rgba(120, 121, 141, 0.25);
}

$primary: #2E3890;
$primary-2: #2AADC5;
$light:   #fff;
$headings-color: var(--primary);

$red:     #c34141;
$green:   #66c341;

// pagination
$pagination-padding-y-lg:           0;
$pagination-padding-x-lg:           0;
$pagination-border-width:           2px;
$pagination-border-color:           var(--gray-20);

// jumbotron
$jumbotron-padding:    0;
$jumbotron-color:    #fff;
$jumbotron-bg:        $primary-2;    

// Buttons
$btn-padding-y-lg: 16px;
$btn-padding-x-lg: 32px;

// navbar
$navbar-light-color: --gray-30;
$navbar-light-active-color: $primary-2;

// alerts
$alert-border-width:  0;
$alert-border-radius: 8px;

// font
$font-family-base:     'Poppins', sans-serif;
$headings-font-family: 'Lora', serif;