{% extends "_base.html" %}
{% load static %}

{% block title %}{{ product.title }} | {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'js/swiper/swiper.min.css' %}">
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/product-details.js' %}"></script>
{% endblock %}

{% block container %}
    {% include  '_navbar.html' %}

    <div id="product-details-page">
        <div class="container">
            <div class="row" id="details-wrapper">
                <div class="col-md-6 col-lg-8">
                    <section id="info-wrapper">
                        <div class="category">
                            {{ product.category }}
                        </div>

                        <h1 class="product-name">{{ product.title }}</h1>
        
                        <div class="product-description">
                            {% if product.description %}
                            {{ product.description | safe }}
                            {% else %}
                            No description was provided
                            {% endif %}
                        </div>
    
                        <footer class="product-footer">
                            <p class="font-weight-bold label">Need This Product?</p>
                            <a class="btn btn-primary text-white" href="{% url 'contact_us' %}">
                                <i class="lni lni-envelope"></i>
                                Contact us
                            </a>
                        </footer>
                    </section>
                </div>
        
                <div class="col-md-6 col-lg-4">

                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product-img">
                                    <img src="{% get_media_prefix %}{{product.photo}}" id="current-img" alt="{{ product.title }}">
                                </div>
                            </div>
                            {% for photo in product.photos.all %}
                            
                            <div class="swiper-slide">
                                <div class="product-img">
                                    <img src="{% get_media_prefix %}{{photo.photo}}" id="current-img" alt="{{ product.title }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                  
                    <div class="product-thumbnails">
                         
                       <div class="swiper-container gallery-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="thumb">
                                        <img src="{% get_media_prefix %}{{product.photo}}" id="current-img" alt="{{ product.title }}">
                                    </div>
                                </div>
                            {% for photo in product.photos.all %}
                            
                                <div class="swiper-slide">
                                    <div class="thumb">
                                        <img src="{% get_media_prefix %}{{photo.photo}}" id="current-img" alt="{{ product.title }}">
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            
                            <div class="swiper-navigation">
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}