{% extends '_base.html' %}
{% load static %}

{% block title %}Our Products | {%endblock%}

{% block container %}
    {% include  '_navbar.html' %}

    <div class="jumbotron hero" id="products-hero">
        
        <div class="hero-content">
            <div class="container">
                <h1 class="title">Our Products</h1>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div class="container">
            <aside class="categories sticky-top">
                <h5 class="title">Categories</h5>
                
                <ul class="list" id="categories_list">
                    <li class="item {% if not request.GET.category %}item--active{% endif %}">
                        <a href="{% url 'product_list' %}?category=" id="none" class="item__link ">All Categories</a>
                    </li>
                {% for category in categories %}
        
                    <li class="item {% if request.GET.category == category.id|stringformat:'i'  %}item--active{% endif%}">
                        <a href="{% url 'product_list' %}?category={{category.id}}" id="{{category.id}}" class="item__link">{{category.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </aside>
        
        
            <div id="products-wrapper">
                <div class="products">
            
                    {% for product in products %}
                        <article class="product-item">
                            <a href="{% url 'product_detail' product_slug=product.slug %}" class="product-link-wrapper">
                                <div class="product-item__img">
                                    <img src="{% get_media_prefix %}{{product.photo}}" alt="{{product.title}}">
                                </div>
        
                                <div class="product-item__info">
                                    <span class="product-item__category">{{product.category}}</span>
                                    <p class="product-item__name">{{product.title}}</p>
                                </div>
                            </a>
                        </article>
                        
                    {% endfor %}
                    </article>
                </div> 
                
                {% if is_paginated and num_pages > 1 %}
                    {% include "_pagination.html" with page_obj=products %}
                {% endif %}  
            </div>
        </div>
    </div>
{% endblock %}