body {
    padding-top: 76px;    
}

.alert {
    .close {
        background-color: white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-inline-end: 8px;
        margin-block-start: 8px;
        font-size: 1rem;
    }
}