// typograohy
.section-title {
    margin-bottom: 24px;

    &:after {
        content: '';
        display: block;
        width: 72px;
        border-bottom: 4px solid $primary-2;
        margin-top: 8px;
    }
}