// content wrapper
.content-wrapper {
    // position: absolute;
    // top: -128px;
    background-color: white;
    border-radius: 16px;
    box-shadow: var(--lg-shadow);
    width: 100%;
    padding: 48px;
    height: auto;

    @include media-breakpoint-down(sm) {  
        width: auto;  
        left: 0;
        right: 0;
        padding: 24px;
    }
}

