// contact-info
.contact-info {
    border-radius: 16px;
    box-shadow: var(--lg-shadow);
    
    &__tabs {
        font-size: 1.125rem;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--gray-20);
        
        .nav {
            width: 100%;

            @include media-breakpoint-up(md) {    
                width: 50%;
                flex-wrap: nowrap;
            }  
            
            .nav-item {
                padding: 0;
                width: 100%;
                text-align: center;

                .nav-link {
                    padding: 24px;

                    &.active {
                        border-bottom: 4px solid $primary-2;
                        font-weight: bold;
                        color: $primary-2;
                    }
                }
            }
        }  
    }
    
    &__body {
        background-color: var(--gray-0);
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px 0;
    }

    .awesome-marker i {
        font-size: 1rem;
        margin-inline-start: 4px;
    }
}
