/* Footer */
.page-footer {
    border-top: 2px solid var(--secondary-2);
	padding-top: 72px;
    background-color: var(--gray-10);

    #brand {
        width: auto;
        height: 96px;
        display: inline-block;

        svg {
            width: 100%;
            height: 100%;            
        }
    }

    h5 {
        font-family: 'Poppins', 'sans-serif';
        color: var(--gray-30);
        font-size: 1.2rem;
        text-align: left;
    }
    
    a {
        color: var(--primary-2)
    }
    
    // contact-item 
    .contact-item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        i {
            color: var(--primary-2);
            font-size: 24px;
            margin-inline-end: 16px;
        }

        a {
            color: var(--primary);
            text-align: start;
        }

    }

    &__copyright {
        background-color: var(--secondary-2);
        margin-top: 72px;
        padding: 16px;
        border-top: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        p {
            margin: 0;
            
            & ~ & {
                margin-top: 16px;
            }
        }
    }
      
    @include media-breakpoint-down(sm) {
        padding-top: 48px;

        h5 {
            margin-top: 48px;
        }
    }
}

@media (max-width: 991.98px) {
    .page-footer {
        text-align: center;
    }
}