.home-hero {
    background-image: url("/static/images/hero-img.jpg");
    background-image:  -webkit-image-set(url("/static/images/hero-img.webp")1x);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        p {
            margin-top: 48px;
            margin-bottom: 72px;
            width: 55%;
        }
    }

    &__title {
        font-weight: bold;
        color: white;
        margin-bottom: 72px;
        font-size: calc(48px + (72 - 48) * ((100vw - 300px) / (1600 - 300)));
    }
}

// hero (second variant)
// .hero {
//     background-image: url("/static/images/shape.svg");
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover; 
//     height: 25vh;
// }

.hero {
    padding: 48px;
    background-image: url("/static/images/shape.svg");
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: cover; 

    &__title {
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 24px;
    }
}