// main-navigation
.navbar {
    border-top: 4px solid $primary-2;
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
        padding: 16px 32px;

        &-collapse {
            margin-top: 24px;
        }
    }

    &.with-border-radius {
        border-radius: 0 0 8px 8px;
    }

    &.with-shadow {
        box-shadow: var(--md-shadow);
    }

    .navbar-toggler {
        border: 0;
        font-size: 2rem;
        color: var(--primary);

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-brand {
        margin: 0;
        padding: 0;
        height: 64px;

        @include media-breakpoint-down(md) {
            margin: 4px 0;
            height: 48px;
        }
        
        img {
            width: auto;
            height: 100%;
        }
    }

    .nav-item {
        transition: background-color 200ms ease-in-out;
        
        &:hover {
            background-color: var(--gray-20);

            @include media-breakpoint-down(md) {    
                border-radius: 8px;
            }  
        }
        
        &.active {
            border-bottom: 4px solid $primary-2;
            
            @include media-breakpoint-down(md) {    
                background-color: rgba(42, 174, 197, 0.2);
                border-radius: 8px;
                border-bottom: 0;
            }  

            .nav-link {
                font-weight: bold;
            }
        }
        
        .nav-link {
            padding: 16px;
            font-weight: 500;
            color: var(--gray-30);

            @include media-breakpoint-down(md) {    
                display: flex;
                align-items: center;
            }  
            
            @include media-breakpoint-up(md) {   
                padding: 24px;
            }
        }

        .nav-text {
            margin-inline-start: 16px;
        }
    }
}