// section
.section {
    margin-block-start: 48px;

    &:last-of-type {
        margin-block-end: 48px;
    }

    &__title {
        color: var(--primary);
        margin-block-end: 24px;
    }

    @include media-breakpoint-up(md) {
        margin-block-start: 72px;

        &:last-of-type {
            margin-block-end: 72px;
        }
    }
}