{% extends "admin/change_form.html" %}
{% block inline_field_sets %}
<fieldset class="module">
    <h2>Upload Photos</h2>
    <input name="photos_multiple" type="file" multiple />
  </fieldset>
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% endblock %}