{% extends "_base.html" %}

{% block title %}404 - Page Not Found | {%endblock%}


{% block container %}
{% include  '_navbar.html' %}

<section id="page-not-found">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>Sorry, We couldn't find the page you are looking for.</p>

    <a class="btn btn-primary" href="{% url 'home' %}">Go to Home</a>
</section>
{% endblock %}