{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta_tags %}
  {% endblock %}
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}"> 
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <title>{% block title %}{%endblock%}Alsarqalawsat</title>

  {% block css_cdn %}
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
  {% endblock %}

  {% block css %}
      <link type="text/css" href="{% static 'styles/css/styles.css' %}" rel="stylesheet" media="screen">
      <link type="text/css" href="{% static 'styles/css/bootstrap-rfs.css' %}" rel="stylesheet" media="screen">
  {% endblock %}

  {% block custom_css_cdn %}
  {% endblock %}

    {% block custom_css %}
    {% endblock %}
</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

  {% block container %}
  {% endblock %}

  {% block footer %}
    {% include  '_footer.html' %}
  {% endblock %}


  {% block js_cdn %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% endblock %}

  {% block js %}
  {% endblock %}

  {% block custom_js_cdn %}
  {% endblock %}

  {% block custom_js %}
  {% endblock %}

</body>
</html>