{% load static %}

<nav class="navbar with-shadow navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.svg' %}" alt="alsharq-alawsat-logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="lni lni-menu"></i>
            </span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="lni lni-home"></i>
                        <span class="nav-text">Home</span> 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'product_list' %}">
                        <i class="lni lni-sthethoscope"></i>
                        <span class="nav-text">Products</span> 
                    </a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">
                        <i class="lni lni-information"></i>
                        <span class="nav-text">About us</span> 
                    </a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact_us' %}">
                        <i class="lni lni-envelope"></i>
                        <span class="nav-text">Contact us</span> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>