<section id="our-location" class="section">
    <h2 class="section__title">We're Located Here</h2>
    
    <article class="contact-info">
        <div class="contact-info__tabs">
            <ul class="nav justify-content-center list-unstyled" id="info-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="info-zliten-tab" data-toggle="tab" href="#info-zliten" role="tab" aria-controls="info-zliten" aria-selected="true">Zliten</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" id="info-benghazi-tab" data-toggle="tab" href="#info-benghazi" role="tab" aria-controls="info-benghazi" aria-selected="false">Benghazi</a>
                </li>
            </ul>
        </div>

        <div class="contact-info__body tab-content" id="info-tabContent">
            <div class="tab-pane fade show active" id="info-zliten" role="tabpanel" aria-labelledby="info-zliten-tab">
                <div class="embed-responsive" style="height: 240px;">
                    <div id="map-container" class="embed-responsive-item">
                        <div id="map" style="height:100%">
                            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%20%D8%B4%D8%B1%D9%83%D8%A9%20%D8%A7%D9%84%D8%B4%D8%B1%D9%82%20%D8%A7%D9%84%D8%A3%D9%88%D8%B3%D8%B7%20%D9%84%D8%A5%D8%B3%D8%AA%D9%8A%D8%B1%D8%A7%D8%AF%20%D8%A7%D9%84%D9%85%D8%B9%D8%AF%D8%A7%D8%AA%20%D9%88%D8%A7%D9%84%D9%85%D8%B3%D8%AA%D9%84%D8%B2%D9%85%D8%A7%D8%AA%20%D8%A7%D9%84%D8%B7%D8%A8%D9%8A%D8%A9&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.org"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                        </div>
                    </div> 
                </div>

                <div class="contact-info__footer">
                    <div class="info-item">
                        <div class="info-item__icon">
                            <i class="lni lni-phone"></i>
                        </div>
    
                        <a href="tel:+218915146089" class="info-item__text">
                            +218 91 8076667
                        </a>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="info-benghazi" role="tabpanel" aria-labelledby="info-benghazi-tab">
                <div class="embed-responsive" style="height: 240px;">
                    <div id="map-container" class="embed-responsive-item">
                        <div id="map2" style="height:100%">
                            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%2032%C2%B009'00.9%22N%2020%C2%B007'35.4%22E&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com">ip address</a></div><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                        </div>
                    </div> 
                </div>

                <div class="contact-info__footer">
                    <div class="info-item">
                        <div class="info-item__icon">
                            <i class="lni lni-phone"></i>
                        </div>
                        
                        <a href="tel:+218918076667" class="info-item__text">
                            +218 91 5146089
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>