{% load static %}

<nav aria-label="navigation" class="mx-auto">
    <ul class="pagination justify-content-center list-unstyled pagination flex-wrap">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <svg xmlns="http://www.w3.org/2000/svg" class="rtl-flip-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293L7.586 12 13.293 17.707 14.707 16.293 10.414 12 14.707 7.707z"/></svg>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="rtl-flip-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293L7.586 12 13.293 17.707 14.707 16.293 10.414 12 14.707 7.707z"/></svg>

                <span class="sr-only">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?category={{request.GET.category}}&page={{ i }}">{{ page_obj.number }}</a>
            </li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item">
                <a class="page-link" href="?category={{request.GET.category}}&page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <li><a class="page-link" href="?category={{request.GET.category}}&page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?category={{request.GET.category}}&page={{ page_obj.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="rtl-flip-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707L16.414 12 10.707 6.293 9.293 7.707 13.586 12 9.293 16.293z"/></svg>
                    <span class="sr-only">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="rtl-flip-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707L16.414 12 10.707 6.293 9.293 7.707 13.586 12 9.293 16.293z"/></svg>

                    <span class="sr-only">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
