
{% extends '_base.html' %}
{% load staticfiles %}

{% block title %}About us | {%endblock%}

{% block container %}
    {% include  '_navbar.html' %}

    <div class="jumbotron hero">
        <div class="hero__content">
            <h1 class="hero__title">About us</h1>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row my-5">
            <div class="col-12">
                <div class="content-wrapper push-top-2x sticky-top" id="who-we-are">
                    <p>ALSHARQ ALAWSAT COMPANY for importing medical equipment and accessories. <br><br>The company was established in 2014 under Chamber of Commerce no: 998. and Commercial Register no: 11473. <br><br>We import and market healthcare ,medical equipment and consumables for hospitals and clinics.<br><br> We have branches in Zliten and Benghazi .<br><br>
                        ALSHARQ ALAWSAT major products are first aid products , surgical dressing ,wound plaster disposable surgery catheters ,medical sterilization packaging, lab equipment, consumables ,lab disposable and homecare products.   
                        <br><br>The company's quality philosophy is to achieve product perfection and customer satisfaction through the implementation and maintenance of an effective ,rigorous quality assurance system.</p>
                </div>
            </div>
        </div>
        
        <div class="section">
            <h2 class="section-title">Our Vision</h2>
            <p>To deliver the best possible customer service, excellent quality and the most advanced products. Alsharq Alawsat's policy is simply to be the automatic supplier of first choice to our key customers by providing them with the best products and a personal service.</p>
        </div>

        <div class="section">
            <h2 class="section-title">Our Mission</h2>
            <p>ALSHARQ ALAWSAT 'S mission is to uphold our social responsibility by improving the quality of human life by providing quality products of international standards and ensuring premier health care for society </p>
        </div>
     
    </div>
{% endblock %}