{% load static %}
{% autoescape off %}

<table style="width: 100%; direction: rtl; border-collapse: collapse;">
    <thead>
      <tr style="text-align: center;">
        <td style="padding:20px 0 10px;">
          <img src="https://alsharqalawsat.com.ly/static/images/logo.png" alt="Alsharq Alawsat Logo" width="200">
        </td>
      </tr>
    </thead>
    <tbody style="padding: 20px;">
      <tr style="padding:20px; text-align: center;">
        <td style="padding-top: 40px;">
          <h2>Hello {{ name }}</h2>
          <p style="font-size: 18px; max-width: 600px; margin: 0 auto;"></p>We have received your message, we will review it and reply to you within the next 48 hours, thanks for contacting us</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-size:14px; max-width: 40%; margin: 20px auto; text-align: center; line-height: 22px; background: #f3f3f3; padding: 15px 20px; border-right: 6px solid #ddd; "> 
            {{ description }}
          </p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr style="text-align: center;">
        <td>
          <span style="display: block; padding-top: 30px; color: #666;">With best wishes</span>
          <span  style="display: block; color: #666;">Alsharq Alawsat</span>
        </td>
      </tr>
      <tr style="text-align: center; ">
        <td style="padding: 15px 0 30px;">
            <a href="https://www.facebook.com/Alsharq.Alawsat.CO/" style="padding: 3px; text-decoration: none;" target="_blank" title="facebook">
                <img src="https://forums.coretabs.net/uploads/default/original/1X/f626d1403b20960c174d1b6adeec4c0fde4277de.png" alt="facebook">
            </a>
        </td>
      </tr>
    </tfoot>
  </table>
{% endautoescape %}
