<!-- Contact us -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Contact us | {%endblock%}

{% block custom_js %}
    <script src="{% static 'js/contact-us.js'%}"></script>
{% endblock %}


{% block container %}
    {% include  '_navbar.html' %}

    <div class="jumbotron hero">
        <div class="hero__content">
            <h1 class="hero__title">Contact us</h1>
        </div>
    </div>

    <section id="contact-us-form">
        <div class="container mt-5">
            <div class="col-12 mx-auto">
                <div class="content-wrapper push-top-2x">
                    <div id="form-status">

                    </div>

                    <div class="row">
                        <div class="col-md-5 col-lg-4" id="form-wrapper">
                            <form method="POST" action="/contact_us/" class="form d-flex flex-column" id="message-form">{% csrf_token %}
                                <input type="text" dir="auto" name="name" placeholder="Name" class="form-control-custom" required>
                                <input type="email" dir="auto" name="email" placeholder="Email" class="form-control-custom" required>
                                <input type="text" dir="auto" name="subject" placeholder="Subject" class="form-control-custom" required>
                
                                <textarea dir="auto" name="description" id="description" cols="30" rows="10" class="form-control-custom" placeholder="Write a message..." required></textarea>
                
                                <button type="submit" class="btn btn-primary" id="form-submit-btn">
                                    <span class="btn__text">Send Message</span>
                                </button>

                                <div class="modal" tabindex="-1" role="dialog" id="myModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-7 col-lg-8 d-flex flex-column align-items-center justify-content-between">

                            <div class="circle-shape">
                                <svg width="426" height="441" viewBox="0 0 426 441" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g filter="url(#filter0_f)">
                                    <ellipse cx="212.903" cy="388.575" rx="196.474" ry="36" fill="url(#paint0_linear)" fill-opacity="0.2"/>
                                    </g>
                                    <circle cx="213.201" cy="212.637" r="187.938" stroke="url(#paint1_linear)" stroke-width="48"/>
                                    <circle cx="212.902" cy="212.338" r="152" stroke="url(#paint2_linear)" stroke-opacity="0.35" stroke-width="24"/>
                                    <path d="M266.535 164.667H159.868C152.515 164.667 146.535 170.647 146.535 178V258C146.535 265.354 152.515 271.334 159.868 271.334H266.535C273.888 271.334 279.868 265.354 279.868 258V178C279.868 170.647 273.888 164.667 266.535 164.667ZM266.535 178V181.407L213.202 222.894L159.868 181.414V178H266.535ZM159.868 258V198.294L209.108 236.594C210.308 237.534 211.755 238 213.202 238C214.648 238 216.095 237.534 217.295 236.594L266.535 198.294L266.549 258H159.868Z" fill="#95D6E2"/>
                                    <defs>
                                    <filter id="filter0_f" x="0.428711" y="336.575" width="424.948" height="104" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                    <feGaussianBlur stdDeviation="8" result="effect1_foregroundBlur"/>
                                    </filter>
                                    <linearGradient id="paint0_linear" x1="212.903" y1="352.575" x2="212.903" y2="424.575" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.331966" stop-color="white" stop-opacity="0.2"/>
                                    <stop offset="1" stop-color="#2E3890"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear" x1="213.201" y1="0.698242" x2="213.201" y2="424.575" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#2AADC5" stop-opacity="0.45"/>
                                    <stop offset="1" stop-color="#2AADC5"/>
                                    </linearGradient>
                                    <linearGradient id="paint2_linear" x1="212.902" y1="48.3379" x2="212.902" y2="376.338" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#2AADC5"/>
                                    <stop offset="1" stop-color="#2AADC5" stop-opacity="0.45"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            </div>

                            <div class="emails">
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        <i class="lni lni-envelope"></i>
                                    </div>

                                    <div class="info-item__text">
                                        <span class="info-item__label">Sales</span>

                                        <a href="tel:+218918076667" class="">
                                            sales@alsharqalawsat.com.ly
                                        </a>
                                    </div>      
                                </div>

                                <div class="info-item">
                                    <div class="info-item__icon">
                                        <i class="lni lni-envelope"></i>
                                    </div>

                                    <div class="info-item__text">
                                        <span class="info-item__label">Support</span>

                                        <a href="tel:+218918076667" class="">
                                            info@alsharqalawsat.com.ly
                                        </a>
                                    </div>      
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        {% include  '_our-location.html' %}
    </div>

{% endblock %}