{% extends '_base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}Home | {%endblock%}

{% block container %}
<div class="jumbotron home-hero text-center">
	<div class="container">
    {% include  '_navbar.html' %}
	</div>

    <div class="home-hero__content">
		<h1 class="display-4 home-hero__title">Suprior Quality <br>Guarantees Security</h1>
		<a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">SEE OUR PRODUCTS</a>
	</div>
</div>

<div class="container">
	<section class="section">
		<header class="new-products-header">
			<h2 class="section__title">Our New Products</h2>

			<!-- If we need navigation buttons -->
			<div class="swiper-controls" style="position: relative;">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</header>

		
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				{% for product in new_products %}
				<div class="swiper-slide">
					<article class="product-item">
						<a href="{% url 'product_detail' product_slug=product.slug %}">
							<div class="product-item__img">
								<img src="{% get_media_prefix %}{{product.photo}}" alt="image">
							</div>
	
							<div class="product-item__info">
								<span class="product-item__category">{{product.category}}</span>
								<p class="product-item__name">{{product.title}}</p>
							</div>
						</a>
					</article>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

    {% include  '_our-location.html' %}
	
</div>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'js/swiper/swiper.min.css' %}">
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}