#page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

    h1 {
        color: var(--primary-2);
        font-size: calc(72px + (128 - 72) * ((100vw - 300px) / (1600 - 300)));
    }

    h2 {
        font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
        margin-bottom: 32px;
    }

    p {
        margin-bottom: 48px;
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
    }
}
