// contact us
#contact-us-form {
    margin-block-end: 96px;
    
    .form-control-custom {
        padding: 12px 16px;
        border-radius: 8px;
        border: 2px solid var(--gray-20);
        margin-block-end: 16px;
    }

    .content-wrapper .row {
        .circle-shape {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 85%;
                height: 85%;
            }
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;

            #form-wrapper {
                margin-top: 32px;
            }
        }
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
 
        &--loading {
            opacity: 0.4;
        }

        .spinner-border {
            width: 16px;
            height: 16px;
            border-width: 2px;
        }

        &__text {
            margin-inline-start: 8px;    
        }
    }

    .emails {
        padding-top: 24px;
        width: 95%;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-top: 2px solid var(--gray-20);
        
        .info-item {
            padding: 12px;

            @include media-breakpoint-down(md) {
                padding: 0;
            }

            &:not(:first-child) {
                margin-top: 16px;
    
                @include media-breakpoint-up(xl) {
                    margin-top: 0;
                }
            }
        }

       
    }
}
