// home
.product-list {
    display: flex;
}
html, body {
    position: relative;
    height: 100%;
  }

.new-products-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 96px;

    .section__title {
        flex: 3;
        margin: 0;
    }

    .swiper-controls {
        flex-basis: 160px;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.swiper-container {
    .product-item {
        max-height: initial;
        height: 100%;
        width: 100%;
    }
}

// swiper styles
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    font-size: 18px;
    background: #fff;
    height: auto !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

// swiper navigation
.swiper-button-prev,
.swiper-button-next {
    width: 48px !important;
    height: 48px !important;
    background: var(--gray-10);
    // color: var(--blue-50);
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.025);
    border-radius: 50%;
    padding: 16px;

    &:after {
        font-size: 0.875rem !important;
        font-weight: bold;
        color: $primary;
    }
}
  