// product details
#product-details-page {
    padding: 72px;

    @include media-breakpoint-down(sm) {
        padding: 32px;

        #details-wrapper {
            display: flex;
            flex-direction: column-reverse;
            
            & > div:first-child {
                margin-top: 24px;
            }
        }
    }

    #info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .category {
        border: 1px solid var(--primary-2);
        border-radius: 8px;
        padding: 8px;
        display: inline-block;
        margin-bottom: 24px;
        font-size: 0.75rem;
        width: max-content;
    }

    .product-img {
        @include product-img-styles;  
        object-fit: contain; 
    }

    .product-thumbnails {
        border-radius: 16px;
        padding: 16px 0;
        border: 4px solid var(--gray-20);
        margin-top: 32px;

        .thumb {
            width: 48px;
            height: 48px;
            overflow: hidden;

            > img {
                width: 100%;
                height: 100%;
            }
        }
        
        .swiper-button-disabled {
            display: none;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: transparent;
            
        }

        .swiper-slide-thumb-active {
            .thumb {
                border: 4px solid var(--primary-2);
                border-radius: 50%;
            }
        }
    }

    .product-name {
        margin-bottom: 32px;
    }

    .product-description {
        margin-bottom: 48px;
    }

    .product-footer {
        margin-top: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        border-top: 4px solid var(--gray-20);
        padding: 16px 0;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-self: flex-end;
        }

        .label {
            flex: 1;
            color: var(--gray-30);
            margin: 0;
            margin-block-end: 16px;

            @include media-breakpoint-up(md) {
                margin-block-end: 0;
                margin-inline-end: 16px;
            }
        }

        .btn {

            i {
                margin-inline-end: 12px;
            }
        }
    }
}

// Styles for Swiper
html, body {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 360px;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }


