#products-hero {
    padding: 48px 48px 24px;
    
    .title {
        color: white;
        text-align: center;
    }
}

/* wrapper */
#wrapper {
    position: relative;
    min-height: 200px;
    margin: 48px 0;

    .container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            flex-direction: row;

            .categories {
                width: 400px;
                height: max-content;
                margin-top: 24px;
                top: 96px;
            }

            #products-wrapper {
                width: 100%;
            }
        }
   }
}

/* Categories */
.categories {
    background-color: var(--gray-10);
    border-radius: 16px;
    box-shadow: var(--lg-shadow);
    width: 80%;
    margin: 0 auto 24px;
    overflow: hidden;
    
    @include media-breakpoint-down(md) {  
        position: static;
        margin-top: 24px;
    }

    .title {
        text-transform: uppercase;
        border-bottom: 2px solid var(--gray-10);
        padding: 24px 16px;
        padding-bottom: 16px;
        font-size: 14px;
        color: var(--gray-30);
        font-family: 'Poppins', 'sans-serif';
    }

    .list {
        list-style: none;
        padding: 0;

        .item {
            padding: 8px 16px;

            &--active {
                background-color: var(--primary-2);

                .item__link {
                    color: white;
                }    
            }

            &__link {
                text-decoration: none;
                color: var(--gray-40);
            }
        }
    }
}

// list
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 24px;
    
    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
    }

    grid-gap: 24px;
    margin-bottom: 72px;

    .product-link-wrapper {
        transition: all 150ms ease-in;

        &:hover,
        &:focus {
            text-decoration: none;
            transform: scale(0.95);
        }

        .product__item {
            width: 224px;
            height: 224px;
        }
    }
}
